# Views

This lab requires you to have completed the task of Module 2, Exercise [Database Create and Load](../../module2/exercises/CreateAndLoadSurveyDB.ipynb).

Recall from the exercise that you loaded this [survey.db.sql](../../module2/exercises//survey.db.sql) file.
This created the familiar Survey database with the tables:
 * Person
 * Site
 * Visited
 * Survey

<div class="row">
<div class="col-md-6">

<p>  
<strong>Person</strong>: people who took readings.</p>

<table>
<thead>
<tr>
<th>id</th>
<th>personal</th>
<th>family</th>
</tr>
</thead>
<tbody>
<tr>
<td>dyer</td>
<td>William</td>
<td>Dyer</td>
</tr>
<tr>
<td>pb</td>
<td>Frank</td>
<td>Pabodie</td>
</tr>
<tr>
<td>lake</td>
<td>Anderson</td>
<td>Lake</td>
</tr>
<tr>
<td>roe</td>
<td>Valentina</td>
<td>Roerich</td>
</tr>
<tr>
<td>danforth</td>
<td>Frank</td>
<td>Danforth</td>
</tr>
</tbody>
</table>


<strong>Site</strong>: locations where readings were taken.</p>

<table>
<thead>
<tr>
<th>name</th>
<th>lat</th>
<th>long</th>
</tr>
</thead>
<tbody>
<tr>
<td>DR-1</td>
<td>-49.85</td>
<td>-128.57</td>
</tr>
<tr>
<td>DR-3</td>
<td>-47.15</td>
<td>-126.72</td>
</tr>
<tr>
<td>MSK-4</td>
<td>-48.87</td>
<td>-123.4</td>
</tr>
</tbody>
</table>

<p><strong>Visited</strong>: when readings were taken at specific sites.</p>

<table>
<thead>
<tr>
<th>id</th>
<th>site</th>
<th>dated</th>
</tr>
</thead>
<tbody>
<tr>
<td>619</td>
<td>DR-1</td>
<td>1927-02-08</td>
</tr>
<tr>
<td>622</td>
<td>DR-1</td>
<td>1927-02-10</td>
</tr>
<tr>
<td>734</td>
<td>DR-3</td>
<td>1930-01-07</td>
</tr>
<tr>
<td>735</td>
<td>DR-3</td>
<td>1930-01-12</td>
</tr>
<tr>
<td>751</td>
<td>DR-3</td>
<td>1930-02-26</td>
</tr>
<tr>
<td>752</td>
<td>DR-3</td>
<td>-null-</td>
</tr>
<tr>
<td>837</td>
<td>MSK-4</td>
<td>1932-01-14</td>
</tr>
<tr>
<td>844</td>
<td>DR-1</td>
<td>1932-03-22</td>
</tr>
</tbody>
</table>

</div>
<div class="col-md-6">

<p><strong>Survey</strong>: the actual readings.</p>

<table>
<thead>
<tr>
<th>taken</th>
<th>person</th>
<th>quant</th>
<th>reading</th>
</tr>
</thead>
<tbody>
<tr>
<td>619</td>
<td>dyer</td>
<td>rad</td>
<td>9.82</td>
</tr>
<tr>
<td>619</td>
<td>dyer</td>
<td>sal</td>
<td>0.13</td>
</tr>
<tr>
<td>622</td>
<td>dyer</td>
<td>rad</td>
<td>7.8</td>
</tr>
<tr>
<td>622</td>
<td>dyer</td>
<td>sal</td>
<td>0.09</td>
</tr>
<tr>
<td>734</td>
<td>pb</td>
<td>rad</td>
<td>8.41</td>
</tr>
<tr>
<td>734</td>
<td>lake</td>
<td>sal</td>
<td>0.05</td>
</tr>
<tr>
<td>734</td>
<td>pb</td>
<td>temp</td>
<td>-21.5</td>
</tr>
<tr>
<td>735</td>
<td>pb</td>
<td>rad</td>
<td>7.22</td>
</tr>
<tr>
<td>735</td>
<td>-null-</td>
<td>sal</td>
<td>0.06</td>
</tr>
<tr>
<td>735</td>
<td>-null-</td>
<td>temp</td>
<td>-26.0</td>
</tr>
<tr>
<td>751</td>
<td>pb</td>
<td>rad</td>
<td>4.35</td>
</tr>
<tr>
<td>751</td>
<td>pb</td>
<td>temp</td>
<td>-18.5</td>
</tr>
<tr>
<td>751</td>
<td>lake</td>
<td>sal</td>
<td>0.1</td>
</tr>
<tr>
<td>752</td>
<td>lake</td>
<td>rad</td>
<td>2.19</td>
</tr>
<tr>
<td>752</td>
<td>lake</td>
<td>sal</td>
<td>0.09</td>
</tr>
<tr>
<td>752</td>
<td>lake</td>
<td>temp</td>
<td>-16.0</td>
</tr>
<tr>
<td>752</td>
<td>roe</td>
<td>sal</td>
<td>41.6</td>
</tr>
<tr>
<td>837</td>
<td>lake</td>
<td>rad</td>
<td>1.46</td>
</tr>
<tr>
<td>837</td>
<td>lake</td>
<td>sal</td>
<td>0.21</td>
</tr>
<tr>
<td>837</td>
<td>roe</td>
<td>sal</td>
<td>22.5</td>
</tr>
<tr>
<td>844</td>
<td>roe</td>
<td>rad</td>
<td>11.25</td>
</tr>
</tbody>
</table>

</div>
</div>

#### We will initialize some variables and connect to the database.

In [ ]:
# Initialize some variables
SSO="YOUR_PAWPRINT_GOES_HERE"
hostname='pgsql.dsa.lan'
database='dsa_student'

In [ ]:
# Read the Password into mem for a moment
import getpass
read_password = getpass.getpass("Type Password and hit enter")

In [ ]:
# Get a SQL Alchemy connection
import psycopg2
import sqlalchemy
import pandas as pd

# defaults to using psycopg2 library
engine = sqlalchemy.create_engine("postgresql://{u}:{pw}@{h}/{db}".format(
        u=SSO,h=hostname,db=database,pw=read_password
        )
    )

# Delete the in memory password
del read_password

Consider this query:
```SQL
SELECT * 
FROM SSO.survey s 
JOIN SSO.visited v ON (v.id::int = s.taken::int) 
JOIN SSO.person p ON (s.person=p.id);
```
Resulting in approximately:
```
 taken | person | quant | reading | id  | site  |   dated    |  id  | personal  | family
-------+--------+-------+---------+-----+-------+------------+------+-----------+---------
   619 | dyer   | rad   |    9.82 | 619 | DR-1  | 1927-02-08 | dyer | William   | Dyer
   619 | dyer   | sal   |    0.13 | 619 | DR-1  | 1927-02-08 | dyer | William   | Dyer
   622 | dyer   | rad   |     7.8 | 622 | DR-1  | 1927-02-10 | dyer | William   | Dyer
   622 | dyer   | sal   |    0.09 | 622 | DR-1  | 1927-02-10 | dyer | William   | Dyer
   734 | pb     | rad   |    8.41 | 734 | DR-3  | 1930-01-07 | pb   | Frank     | Pabodie
    .
    .
    .
   752 | roe    | sal   |    41.6 | 752 | DR-3  |            | roe  | Valentina | Roerich
   837 | lake   | rad   |    1.46 | 837 | MSK-4 | 1932-01-14 | lake | Anderson  | Lake
   837 | lake   | sal   |    0.21 | 837 | MSK-4 | 1932-01-14 | lake | Anderson  | Lake
   837 | roe    | sal   |    22.5 | 837 | MSK-4 | 1932-01-14 | roe  | Valentina | Roerich
   844 | roe    | rad   |   11.25 | 844 | DR-1  | 1932-03-22 | roe  | Valentina | Roerich
```

In [ ]:
SQL = """SELECT * 
FROM {pawprint}.survey s 
JOIN {pawprint}.visited v ON (v.id::int = s.taken::int) 
JOIN {pawprint}.person p ON (s.person=p.id);
"""
# Slide the SSO from variable in first cell into the SQL string.
SQL = SQL.format(pawprint=SSO)
print(SQL)

In [ ]:
# Use the SQL Alchemy to get a connection and read SQL into a table
with engine.connect() as connection:
    df = pd.read_sql_query(SQL, connection)

#  Show to the first 20 rows of the 19 rows
df.head(20)

## Clarity through Column Renames 
One of the issues we see is that the `id` column exists twice.
First from the `visited.id` column, then from the `person.id` column.

We need to fix this to have unambiguous columns.

We also see that the `person` column of the output is redundant with the `person.id` column. 

Let's update our SQL to make the results clearer.

In [ ]:
SQL = """SELECT v.id as visit_id, 
    s.quant, s.reading,
    v.site, v.dated as visit_date,
    p.id as person_id, p.personal as firstname, p.family as lastname
FROM {pawprint}.survey s 
JOIN {pawprint}.visited v ON (v.id::int = s.taken::int) 
JOIN {pawprint}.person p ON (s.person=p.id);
"""
# Slide the SSO from variable in first cell into the SQL string.
SQL = SQL.format(pawprint=SSO)
print(SQL)

In [ ]:
# Use the SQL Alchemy to get a connection and read SQL into a table
with engine.connect() as connection:
    df = pd.read_sql_query(SQL, connection)

#  Show to the first 20 rows of the 19 rows
df.head(20)

## Now that we have this _report_ from the database, let's make this accessible for future use without re-writing the SQL.

To do this, we will create a view, which is basically a stored, named `table expression`.

Recalling a select statement is the definition of a table, a table expression, then:  
`CREATE OR REPLACE VIEW SSO.NAME AS SELECT_STATEMENT`

In [ ]:
SQL = """CREATE OR REPLACE VIEW 
{pawprint}.survey_view
AS
SELECT v.id as visit_id, 
    s.quant, s.reading,
    v.site, v.dated as visit_date,
    p.id as person_id, p.personal as firstname, p.family as lastname
FROM {pawprint}.survey s 
JOIN {pawprint}.visited v ON (v.id::int = s.taken::int) 
JOIN {pawprint}.person p ON (s.person=p.id);
"""
# Slide the SSO from variable in first cell into the SQL string.
SQL = SQL.format(pawprint=SSO)
print(SQL)

In [ ]:
result = engine.execute(SQL)
print(result)

## Selecting data from a view
#### ... is the same as selecting data from single table.

In [ ]:
with engine.connect() as connection:
    df = pd.read_sql_query("SELECT * FROM {pawprint}.survey_view".format(pawprint=SSO), connection)

#  Show to the first 20 rows of the 19 rows
df.head(20)

## You have created a view!
### Pull the proof from the database using the terminal

Add the terminal scrape of the `\d SSO.survey_view` for your pawprint.

# Add your view describe result below.

## Even better, let's get the full view description, using \d+
Add the terminal scrape of the `\d+ SSO.survey_view` for your pawprint.

# Add your view describe result below.

# Save your notebook, then `File > Close and Halt`