# Data formats, types, usage and standards

## Data types

Data types are a key aspect of the definition of structured data within a relational database. 
Every **tuple** (or _record_) is a set of _name-value_ pairs.  
You will recall these _name-value_ pairs are the column organization of a _table_ (or **relation**). 
The permissible values are determined first and foremost by the data type of the column.


SQL is a standard for access to relation databases and DBMS.   
The current version of the standard is SQL:2011 (https://en.wikipedia.org/wiki/SQL:2011).

Data types are used within the `CREATE TABLE` statement as part of column definitions :

### Standard Character / Textual Data Types

Character string, fixed length.  
A string of text in an implementer-defined format. 
The size argument is a single nonnegative integer that refers to the maximum length of the string. 
Values for this type must enclosed in single quotes.


<table class="table table-bordered">
<tbody>
<tr>
<td><em>Data Type</em></td>
<td><em> Description</em></td>
</tr>
<tr>
<td>CHARACTER</td>
<td>Character string, fixed length.<br /> A string of text in an implementer-defined format. The size argument is a single nonnegative integer that refers to the maximum length of the string. Values for this type must enclosed in single quotes.</td>
</tr>
<tr>
<td>CHARACTER VARYING (VARCHAR)</td>
<td>Variable length character string, maximum length fixed.</td>
</tr>
<tr>
<td>CHARACTER LARGE OBJECT (CLOB)</td>
<td>A Character Large OBject (or CLOB) is a collection of character data in a database management system, usually stored in a separate location that is referenced in the table itself.</td>
</tr>
</tbody>
</table>

### Boolean (aka, True/False)

<table class="table table-bordered">
<tbody>
<tr>
<td><em>Data Type</em></td>
<td><em> Description</em></td>
</tr>
<tr>
<td>BOOLEAN</td>
<td>Stores truth values - either TRUE or FALSE.</td>
</tr>
</tbody>
</table>

### Binary Large Object (BLOB)

A binary string is a sequence of octets that does not have either a character set or collation associated with it and is described by a binary data type descriptor.

<table class="table table-bordered">
<tbody>
<tr>
<td><em>Data Type</em></td>
<td><em> Description</em></td>
</tr>
<tr>
<td>BINARY LARGE OBJECT (BLOB).</td>
<td>BLOB stores a long sequence of bytes.</td>
</tr>
</tbody>
</table>

### Numerical Data Types

Numeric data types represents numerical values.

<table class="table table-bordered">
<tbody>
<tr>
<td><em>Data Type</em></td>
<td><em>Description</em></td>
</tr>
<tr>
<td>INTEGER</td>
<td>Represents an integer. The minimum and maximum values depend on the DBMS.</td>
</tr>
<tr>
<td>SMALLINT</td>
<td>Same as INTEGER type except that it might hold a smaller range of values, depending on the DBMS.</td>
</tr>
<tr>
<td>BIGINT</td>
<td>Same as INTEGER type except that it might hold a larger range of values, depending on the DBMS.</td>
</tr>
<tr>
<td>DECIMAL(p, s)</td>
<td>Exact numerical, precision p, scale s. A decimal number, that is a number that can have a decimal point in it. The size argument has two parts : precision and scale. The scale can not exceed the precision. Precision comes first, and a comma must separate from the scale argument.</td>
</tr>
<tr>
<td>NUMERIC(p, s)</td>
<td>Exact numerical, precision p, scale s. The maximum precision depends on the DBMS.</td>
</tr>
<tr>
<td>FLOAT(p)</td>
<td>Approximate numerical, mantissa precision p. Precision is greater than or equal to 1 and the maximum precision depends on the DBMS.</td>
</tr>
<tr>
<td>REAL</td>
<td>Same as FLOAT type except that the DBMS defines the precision.</td>
</tr>
<tr>
<td>DOUBLE PRECISION</td>
<td>Same as FLOAT type (DBMS defines the precision) but greater than that of REAL.</td>
</tr>
</tbody>
</table>

### Data and Time data types


These data types are perhaps the most variable among DBMS. Consult the documentation for your particular database technology, especially during conversions.

<table class="table table-bordered">
<tbody>
<tr>
<td><em>Data Type</em></td>
<td><em>Description</em></td>
</tr>
<tr>
<td>DATE</td>
<td>Represents a date. Format : yyyy-mm-dd</td>
</tr>
<tr>
<td>TIME WITHOUT TIME ZONE</td>
<td>Represents a time of day without time zone. Format : hh:mm:ss</td>
</tr>
<tr>
<td>TIME WITH TIME ZONE</td>
<td>Represents a time of day with time zone. Format : yyyy-mm-dd AT TIME ZONE -06:00.</td>
</tr>
<tr>
<td>TIMESTAMP WITHOUT TIME ZONE</td>
<td>Represents a combination of DATE and TIME values separated by a space. Format : yyyy-mm-dd hh:mm:ss</td>
</tr>
<tr>
<td>TIMESTAMP WITH TIME ZONE</td>
<td>Represents a combination of DATE and TIME values separated by a space with time zone. Format : yyyy-mm-dd hh:mm:ss AT TIME ZONE -06:00.</td>
</tr>
</tbody>
</table>

### Other data types

Various other data types exists, and their support varies. These may include:
 * Interval (time intervals)
 * XML
 * JSON
 * Arrays
 * Collections

These will be covered later in the course to a small degree.

### Extensions

Various databases may be extended with additional data types that are not within the standard, such as Spatial or Geospatial extensions found in SpatiaLite and PostGIS, which are the spatial extensions to SQLite and PostgreSQL, respectively.